{% extends "base.html" %} 

{% block head_title %} 
{{ super() }}:Home
{% endblock head_title %} 

{%  block page_title %}
<h1>TRANSACCIONES</h1>
{% endblock page_title %}


{% block contenido %}         
        <table  class="paper tabla">
            <tr   class= "fila">
                <th>Fecha</th>
                <th>Hora</th>
                <th>From</th>
                <th>Cantidad</th>
                <th>To</th>
                <th>Cantidad</th>
                <th>Precio unitario</th>
            </tr>
            {%  if movs %}
            {% for m in movs %}
            <tr   class="fila">
                <td class="dato fecha"> 
                    {% if m.fecha %}
                    {{ m.fecha }}
                    {% else %}
                    ---
                    {% endif %}
                </td>
                <td class="dato hora">{{m.hora}}</td>
                <td  class="dato from">{{m.de}}</td>
                <td class="dato q">{{m.q}}</td>
                <td class="dato to">{{m.a}}</td>
                <td class="dato cantidad">{{m.cantidad}}</td>
                <td class="dato precio_unitario">{{m.precio_unitario}}</td>
            </tr>
            {%  if m.has_errors %}
            <tr>
                <td></td>
                <td colspan="3">
                <p class="error">
                  {% for error in m.errores %}
                  {{ error }}<br>
                  {% endfor %} 
                </p>
                </td>             
            </tr>
            {% endif %}                    
            {% endfor %}
            {% else %}
            <tr  class="fila"> 
                <td  class="lista-vacia"  colspan="4">No hay movimientos</td>
            </tr>
            {%  endif %}

        </table> 
{% endblock contenido%}