{% extends "base.html" %} 

{% block head_title %} 
{{ super() }}:Home
{% endblock head_title %} 

{%  block page_title %}
<h1>Movimientos</h1>
{% endblock page_title %}


{% block contenido %}
<p>
    <button id="boton-recarga">Recargar</button>
</p>
<table class="paper tabla">
    <thead>
  
        <tr class="fila">
            <th class="cabecera feccha" >Fecha</th>
            <th  class="cabecera">Hora</th>
            <th class="cabecera">From</th>
            <th class="cabecera">Cantidad</th>
            <th class="cabecera">To</th>
            <th class="cabecera">Cantidad</th>
            <th class="cabecera">Precio unitario</th>
        </tr>
    </thead>

    <tbody  id="cuerpo-tabla">
        <tr class="fila">        
            <td class="Lista-vacia" colspan="7">No hay movimientos registrados.</td>
        </tr>
    </tbody>   
   
</table>
{% endblock contenido %}