 {% extends "base.html" %}

{% block head_title %}
{{ super() }}:purchase
{% endblock head_title %}

{% block page_title %}
<h1>COMPRA DE CRYPTOS</h1>
{% endblock page_title %}  


{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.moneda_origen.label }} {{ form.moneda_origen() }}<br>
    {{ form.cantidad_origen.label }} {{ form.cantidad_origen() }}<br>
    {{ form.moneda_destino.label }} {{ form.moneda_destino() }}<br>
    {{ form.submit_calcular() }}
    {{ form.submit_confirmar() }}
</form>
{% if cantidad_destino and precio_unitario %}
<p>Cantidad Destino: {{ cantidad_destino }} {{ form.moneda_destino.data }}</p>
<p>Precio Unitario: {{ precio_unitario }}</p>
{% endif %}
{% endblock %}
{% endblock contenido %}

