{% extends "base.html" %}

{% block head_title %}
Compra de Criptomonedas
{% endblock head_title %}

{% block page_title %}
<h1>Compra de Criptomonedas</h1>
{% endblock page_title %}

{% block contenido %}
<form method="POST" id="purchase-form">
    {{ form.hidden_tag() }}

    <div>
        <label for="from_currency">Moneda Origen:</label>
        {{ form.from_currency(class="form-control", id="from_currency") }}
    </div>

    <div>
        <label for="from_amount">Cantidad Origen:</label>
        {{ form.from_amount(class="form-control", id="from_amount") }}
    </div>

    <div>
        <label for="to_currency">Moneda Destino:</label>
        {{ form.to_currency(class="form-control", id="to_currency") }}
    </div>

    <div>
        <label for="unit_price">Precio Unitario:</label>
        {{ form.unit_price(class="form-control", id="unit_price", readonly=True) }}
    </div>

    <div>
        <label for="to_amount">Cantidad Destino:</label>
        {{ form.to_amount(class="form-control", id="to_amount", readonly=True) }}
    </div>

    <div>
        {{ form.simulate(class="btn btn-primary", id="simular") }}
        {{ form.confirm(class="btn btn-success", id="confirm") }}
    </div>
</form>
{% endblock contenido %}


