
 * {
  font-family : "Sour Gumy", sans-serif;

}
header {
 
  background-color: #3217e4;
  color: #f0f0f0;
  height: 50px;
  margin-left : 0px;
  padding-left: 20px;
  font-size:xx-large;
  
}


.navbar {
  background-color: #19a187;
  color: #f0f0f0;
  height:25px;
  padding-left: 20px;
}




.navbar a,
.navbar a:link,
.navbar a:visited,
.navbar a:hover,
.navbar a:active,
.navbar a:focus {
  color:#f0f0f0;
}

.main {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.tabla  {
  width: 100%;
  margin: 0;
}


.tabla .dato {

  text-align:center;


}


.tabla .lista-vacia {
  text-align: center;
  padding: 25px;
  color: var(--neutral-60);
} 

.tabla .error {
  color: #ff0000;
  font-size: small;
  margin: 0 0 10px 0;
  line-height: 1rem;
}

.footer {
  padding: 20px;
  border-top: solid thin#3217e4;
}

/* General reset */
/* body,
h1,
h2,
table,
th,
td {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
} */

/* Body */
/* body {
  background-color: #1e1e2e;
  color: #ffffff;
  line-height: 1.6;
  padding: 20px;
} */

/* Header */
/* .header {
  background: #27293d;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2em;
  font-weight: bold; */


/* Main container */
/* .main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: #2c2f48;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
} */

/* Transaction table */
/* .transactions h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

.transaction-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.transaction-table thead {
  background: #4a4d6b;
}

.transaction-table thead th {
  padding: 15px;
  text-align: left;
  font-size: 1em;
}

.transaction-table tbody tr {
  border-bottom: 1px solid #3a3e5a;
} */

/* .transaction-table tbody tr:nth-child(even) {
  background: #33344e;
}

.transaction-table tbody td {
  padding: 10px 15px;
  text-align: left;
}

.transaction-table tbody td:last-child {
  font-weight: bold;
  color: #50fa7b;
}

/* Hover effect for rows */
/* .transaction-table tbody tr:hover {
  background: #44466a;
  cursor: pointer;
} */ 